<div class="contianer">
  <a [routerLink]="['']">Home</a>
  <h4 style="color: darkorchid">Edit this Author:</h4>
  <div>
    <form class="form-group" (ngSubmit)="editAuthor(eAuthor.form.value)" #eAuthor="ngForm">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" name="name" [value]="author[0].name" ngModel>
      </div>
      <a [routerLink]="['']" class="btn btn-warning active mr-3" role="button" aria-pressed="true">Cancel</a>
      <input type="submit" class="btn btn-primary" value="Edit Author">
    </form>
  </div>
</div>
