<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
        <script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

        <title>Message Board</title>
    </head>
    <body>
        <div class="container">
            <div class="row bg-primary text-white">
                <h1 class="d-inline">CodingDojo Wall (Simplified)</h1>
                <div class="col"></div>
                <h4 class="d-inline m-2">Welcome {{ session['username'] }}!</h4>
                <form class="d-inline m-2" action="/logout">
                    <button type="submit" class="btn btn-success d-inline">Logout!</button>
                </form>
            </div>
            
            <div class="row">
                <table class="table table-borderless table-dark text-center">
                    <thead>
                        <tr>
                            <td>
                                 <div class="text-left"> <!-- Using these hidden boxes to keep proper sizing when there are no current messages. -->
                                    <textarea class="d-inline align-middle" name="" cols="55" rows="1" maxlength="256" style="overflow: auto; visibility:hidden">{{ message }}</textarea>
                                    <form class="d-inline m-2" action="/logout">
                                        <button type="submit" class="btn btn-danger d-inline align-middle" style="visibility:hidden">Delete!</button>
                                    </form>
                                </div> <!-- End of hidden -->
                                <h4>Your Messages</h4>
                                <p class="font-weight-bold" style="text-decoration: underline;">{{ session['msgcnt'] }} Message(s) for you {{ session['username'] }}</p>
                                {% for message in session['messages'] %}
                                    <div class="text-left">
                                        <label class="mt-1" for="textarea">{{ message['username'] }} said this {{ message['created_at'] }} ago!</label><br>
                                        <textarea class="d-inline align-middle" name="" cols="55" rows="3" maxlength="256" style="overflow: auto;" disabled>{{ message['message'] }}</textarea>
                                        <form class="d-inline m-2" action="/delete" method="POST">
                                            <input type="hidden" name="id" value="{{ message['id'] }}">
                                            <button type="submit" class="btn btn-danger d-inline align-middle">Delete!</button>
                                        </form>
                                    </div>
                                {% endfor %}
                            </td>
                            <td>
                                <div class="text-left"> <!-- Using these hidden boxes to keep proper sizing when there are no current messages. -->
                                    <textarea class="d-inline align-middle" name="" cols="55" rows="1" maxlength="256" style="overflow: auto; visibility:hidden">{{ message }}</textarea>
                                    <form class="d-inline m-2" action="/logout">
                                        <button type="submit" class="btn btn-primary d-inline align-middle" style="visibility:hidden">Send!</button>
                                    </form>
                                </div> <!-- End of hidden -->
                                <h4>Send Messages</h4>
                                <p class="font-weight-bold" style="text-decoration: underline;">Send a message to a friend:</p>
                                {% for username in session['users'] %}
                                    <form class="d-inline m-2" action="/send" method="POST">
                                        <div class="text-left">
                                            <input type="hidden" name="id" value="{{ username['id'] }}">
                                            <label for="textarea">Send a message to {{ username['username'] }}!</label><br>
                                            <textarea class="d-inline align-middle mr-2" name="message" cols="55" rows="3" maxlength="256" style="overflow: auto;"></textarea>
                                            <button type="submit" class="btn btn-primary d-inline align-middle">Send!</button>
                                        </form>
                                    </div>
                                {% endfor %}
                            </td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </body>
</html>