# ignore the packages dir
packages/
# ignore the secret.js file
secret.js
# ignore any file or dir that begins in log
log*
#ignore the .ssh dir
.ssh/
# ignore the node modules
node_modules/
# ignore any file with a .epub extension
*.epub
