/*CSS reset settings here*/

#wrapper{
 width: 750px;
 height: 750px;
 background-color: silver;
 margin: auto;
 border: 5px solid black;
 padding: 40px;
}
#redwrap{
    /*width: 720px;*/
    height: 150px;
}
#leftredbox{
 height: 150px;
 width: 350px;
 background-color: red;
 border: 5px solid black; 
 float: left;
}
#rightredbox{
 height: 150px; 
 width: 350px;
 background-color: red;
 border: 5px solid black;
 float: right;
}
#bluebox{
 height: 150px;
 background-color: blue;
 border: 5px solid black;
 margin: 40px 0px;
}
#yellowwrap{
    height: 150px;
    width: 670px;
    text-align: center;
}
.yellowbox{
 height: 150px;
 width: 200px;
 background-color: yellow;
 border: 5px solid black;
 display: inline-block;
 text-align: center;
}
#greenbox{
 height: 150px;
 background-color: green;
 border: 5px solid black;
 margin: 40px 0px 0px 0px;
}
#leftpurplebox{
 height: 100px;
 width: 100px;
 background-color: purple;
 float: left;
 border: 5px solid black;
 margin: 20px;
}
#rightpurplebox{
 height: 100px;
 width: 100px;
 background-color: purple;
 float: right;
 border: 5px solid black;
 margin: 20px;
}