* {
    margin: 0px;
    padding: 0px;
}

.container{
    min-width: 100px;
    min-height: 100px;
    margin: 25px 100px;
}

.blue {
    background-color: blue;
    height: 100px;
    width: 100px;
}

.purple {
    background-color: blueviolet;
    height: 100px;
    width: 100px;
}

table{
    display: inline-block;
    vertical-align: top;
    font-size: 0px;
    border-collapse: collapse;
}

table td tr{
    display: inline-block;
    vertical-align: top;
    font-size: 0px; 
}