<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Registration Form</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <div class="container">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p>{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <form action="/process" method="POST">
                Email: <input type="text" name="email" value="{{ email }}">
                First Name: <input type="text" name="fname" value="{{ fname }}">
                Last Name: <input type="text" name="lname" value="{{ lname }}">
                Password: <input type="password" name="pass">
                Confirm Password: <input type="password" name="cpass">
                Birthday: <input type="date" name="bday" id="bday" value="{{ bday }}">
                <input type="submit" value="Submit">
            </form>
        </div>
    </body>
</html>